<nav class="ps-top">
    <div class="ps-bar ps-white ps-padding ps-card ps-nav">
      <a href="/" class="ps-bar-item ps-button">Pimienta & Sal</a>
        <div class="ps-right ps-hide-small">
        <a href="#about" class="ps-bar-item ps-button">About</a>
        <a href="#menu" class="ps-bar-item ps-button">Menu</a>
      </div>
    </div>
  </nav>